.overall {
    background-color: rgba(29, 27, 27, 0.904);

    &-body {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 50px 150px 20px 150px;

        &__image {
            line-height: 50px;

        }

        &__unorder--one {

            ul {
                list-style-type: none;

                li {
                    line-height: 20px;
                    padding: 10px;

                    a {
                        text-decoration: none;
                        color: $text-color;
                    }

                }
            }

        }

        &__unorder--two {

            ul {
                list-style-type: none;

                li {
                    line-height: 20px;
                    padding: 10px;

                    a {
                        text-decoration: none;
                        color: $text-color;

                    }
                }
            }
        }

        &__border {
            height: auto;
            width: 30px;
            border-right: 1px solid white;
        }

        &__partner {

            &--one {
                text-align: center;
                line-height: 35px;
                padding-bottom: 25px;

                a {
                    color: $text-color;
                    text-decoration: none;
                    font-size: 14px;
                    font-family: Arial Narrow Bold;
                }
            }
        }
    }
}

.border-down {
    height: auto;
    width: auto;
    margin: 0px 80px 0px 80px;
    border-top: 1px solid white;
}

.company {
    margin-top: 30px;
    text-align: center;
    color: $text-color;
    padding-bottom: 5px;
}

#fon-size {
    font-size: 14px;
}